#root{
  -fx-padding: 8;
}
#address-labels {
  -fx-background-color: #BBB;
  -fx-alignment: center;
}
#categories {
  -fx-vgap: 10;
  -fx-hgap: 25;
}
#options {
  -fx-spacing: 8;
}

Label {
  -fx-font-size: 20;
}

.header {
  -fx-font-weight: 700;
  -fx-alignment: center;
}
.top, .bottom {
  -fx-alignment: center;
}
.players {
  -fx-padding: 10 10 10 10;
  -fx-vgap: 10;
  -fx-hgap: 10;
}
.player-label {
  -fx-wrap-text: true;
  -fx-text-overrun: ellipsis;
  -fx-max-height: 24px;
}
.copyable-label, .copyable-label:focused {
  -fx-font-size: 13px;
  -fx-alignment: center;
  -fx-background-color: transparent ;
  -fx-background-insets: 0px ;
}

#scores {
  -fx-vgap: 5;
  -fx-hgap: 9;
}
#scores > .player-label, .players > .player-label {
  -fx-font: 14px Serif;
  -fx-padding: 0 14 0 14;
  -fx-border-radius: 3;
  -fx-border-width: 2px;
  -fx-border-insets: -2;
  -fx-border-style: solid;
}

.answer-node {
  -fx-background-color: #aaa;
  -fx-border-style: solid;
  -fx-border-radius: 5px;
  -fx-padding: 5px;
  -fx-border-width: 2px;
  -fx-border-insets: -1;
  -fx-max-width: 187;
  -fx-max-height: 187;
  -fx-min-width: 187;
  -fx-min-height: 187;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.7), 8, 0, 0, 0);
}
.answer-pane {
  -fx-padding: 12 0 0 0;
  -fx-vgap: 10;
  -fx-hgap: 10;
  -fx-alignment: top-center;
}
.voters .vote {
  -fx-font: 12px Serif;
  -fx-border-radius: 3px;
  -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-insets: -1;
  -fx-max-width: 180px;
}
.voters {
  -fx-hgap: 6px;
  -fx-vgap: 4px;
  -fx-alignment: bottom-center;
}
.answer-node .player-label {
  -fx-font: 14px Serif;
  -fx-min-width: 20px;
  -fx-max-width: 117px;
  -fx-padding: 0px 9px 0px 9px;
  -fx-border-style: solid;
  -fx-border-radius: 3px;
  -fx-border-insets: -1px;
  -fx-alignment: center;
}
.answer-node .score {
  -fx-font-size: 12px;
  -fx-max-width: 70px;
}
.answer-node > Label {
  -fx-font: 13px Serif;
  -fx-wrap-text: true;
}
